<!DOCTYPE html>
<html>
    <head>
        <title>Group - Project Page</title>
        {%load static%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "stqa\css\styles1.css"%}">

    </head>

    <body>
        <header>
            PROJECT MANAGEMENT SYSTEM
        </header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav1"> 
                 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> 
          <li class="nav-item active">
              <a class="nav-link" href="{%url 'stqa:group_info'%}">INDEX<span class="sr-only">(current)</span></a>
          </li>  
          <li class="nav-item active">
              <a class="nav-link" href="{%url 'stqa:index'%}">LOG OUT<span class="sr-only">(current)</span></a>
          </li>
        </ul>   
      </div>
      
    </nav>

    <div style="margin-top: 20px; margin-bottom: 20px;"> 
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <center>
            <h1> APPROVED </h1>
          </center>
            <br><br>            
            {%for query1 in query1 %}
            <div class="card" id="project_card">
              <h5 class="card-header">Project Title :{{query1.title}}</h5>
               <div class="card-body">
                <h5 class="card-title">Group-Id : {{query1.grp}}</h5>
               </div>
             </div>
             {%endfor%}
          </div>

          <div class="col-md-6">
            <center>
            <h1> APPROVAL PENDING </h1>
          </center>
            <br><br>
            {%for query in query %}
            <div class="card" id="project_card">
              <h5 class="card-header">Project Title :{{query.title}}</h5>
               <div class="card-body">
                <h5 class="card-title">Group-Id : {{query.grp}}</h5>
               </div>
             </div>
             {%endfor%}
          </div>
        </div>
      </div>                         
    </div>

    </body>
</html>



